body {
	padding: 0;
	margin: 0;
    height: 100vh;
    width:100;
}

body,
html {
	background: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    min-height: 100%;
    width: 100%;
    background-image: url("../img/circuit-board.webp");
    margin: 0px;
    padding: 0px;
    content: '';
    box-shadow: inset 0 0 0 10000px rgba(0,0,0,.7);
}


.text-box {
	text-align: center;
	color: white;
	font-style: oblique;
}

.box {
    text-align: center;
    background-color: black;
    margin: auto;
}

hr {
	border-top: 5px solid lime;
    width: 300px;
}

/*==============================================================================evrythang==*/

.hero {
	height: 85%;
}

.hero-title {
	margin-top: 0;
	padding-top: 10%;
	color: white;
}

/*==============================================================================hero section==*/

.external-sites {
	height: 25%;
	overflow: auto;
}

.flex-parent {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-child {
	text-align: center;
	width: 100vw;
	padding: 2px;
}
.child-1 {
	order: 1;
}

.child-2 {
	order: 2;
}

.child-3 {
	order: 3;
}

.child-4 {
	order: 4;	
}

/*==============================================================================external sites==*/

@media only screen and (min-width: 830px) {
    body {
        overflow: hidden;
    }
    
    .flex-child {
    	width: 400px;
    }
}

/*==============================================================================media queries==*/



