body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

body,
html {
	background: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	background-image: url("../img/surf.jpg");
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

h1,
p,
li {
	font-family: Product Sans;
}

.text-box {
	text-align: center;
	color: white;
	font-style: oblique;
}

.box {
	text-align: center;
	background-color: black;
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.box-2 {
	text-align: center;
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 20px;
}

.box:hover .overlay{
	opacity: 1;
	box-shadow: inset 0 0 0 10px black;
}

.row {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.fa {
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .1s ease;
	background-color: midnightblue;
}

/*==============================================================================evrythang==*/

.awesome-text {
	-webkit-animation:text-colorchange 20s infinite alternate;
	-moz-animation:text-colorchange 20s infinite alternate;
}

.awesome-background {
	-webkit-animation:colorchange 20s infinite alternate;
	-moz-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes text-colorchange {
	0% {color: rgb(255,187,120);}
	10% {color: rgb(255,152,150);}
	20% {color: rgb(197,176,213);}
	30% {color: rgb(174,199,232);}
	40% {color: rgb(152,223,138);}
	50% {color: rgb(247,182,210);}
	60% {color: rgb(219,219,141);}
	70% {color: rgb(199,199,199);}
	80% {color: rgb(196,156,148);}
	90% {color: rgb(158,218,229);}
	100% {color: rgb(247,182,210);}
}

@keyframes text-colorchange {
	0% {color: rgb(255,187,120);}
	10% {color: rgb(255,152,150);}
	20% {color: rgb(197,176,213);}
	30% {color: rgb(174,199,232);}
	40% {color: rgb(152,223,138);}
	50% {color: rgb(247,182,210);}
	60% {color: rgb(219,219,141);}
	70% {color: rgb(199,199,199);}
	80% {color: rgb(196,156,148);}
	90% {color: rgb(158,218,229);}
	100% {color: rgb(247,182,210);}
}

@-webkit-keyframes colorchange {
	0% {background-color: rgb(255,187,120);}
	10% {background-color: rgb(255,152,150);}
	20% {background-color: rgb(197,176,213);}
	30% {background-color: rgb(174,199,232);}
	40% {background-color: rgb(152,223,138);}
	50% {background-color: rgb(247,182,210);}
	60% {background-color: rgb(219,219,141);}
	70% {background-color: rgb(199,199,199);}
	80% {background-color: rgb(196,156,148);}
	90% {background-color: rgb(158,218,229);}
	100% {background-color: rgb(247,182,210);}
}

@keyframes colorchange {
	0% {background-color: rgb(255,187,120);}
	10% {background-color:rgb(255,152,150);}
	20% {background-color: rgb(197,176,213);}
	30% {background-color: rgb(174,199,232);}
	40% {background-color: rgb(152,223,138);}
	50% {background-color: rgb(247,182,210);}
	60% {background-color: rgb(219,219,141);}
	70% {background-color: rgb(199,199,199);}
	80% {background-color: rgb(196,156,148);}
	90% {background-color: rgb(158,218,229);}
	100% {background-color: rgb(247,182,210);}
}

/*==============================================================================RGB==*/

.btn-lg-bottom {
	position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100px 0px 100px 0px;
}

.btn-black {
	background-color: black;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	margin: auto;
}

.btn-contact {
	margin-bottom: 100px;
}

/*==============================================================================.btn's==*/

.home {
	height: 100%;
}

.hero-title {
	margin-top: 0;
	padding-top: 10%;
	color: white;
}

.first-sect {
	height: 100%;
}

.name {
	margin-top: 100px;
	margin-bottom: 0px;
}

.underline {
	height: 8px;
	width: 300px;
	border: 1px solid black;
	margin:0 auto;
	margin-top: 5px;
	font-size: 20px;
	text-align: center;
	background-color: black;
	-webkit-animation:colorchange 20s infinite alternate;
}

.bio {
	font-size: 30px;
	padding-top: 50px;
}

/*==============================================================================home==*/

.about-me {
	display:block;
	overflow:auto;
}

.name-2{
	margin-bottom: 0px;
}

/*==============================================================================about-me==*/

.my-work {
	display:block;
	overflow:auto;
}

.name-3{
	margin-top: 50px;
	margin-bottom: 0px;
}

.external-sites {
	height: 40%;
}

.flex-parent {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-child {
	text-align: center;
	width: 100vw;
	padding: 2px;
	height: 14vh;
}
.child-1 {
	order: 1;
}

.child-2 {
	order: 2;
}

.child-3 {
	order: 3;
}

.child-4 {
	order: 4;
}

/*==============================================================================my-work==*/

.contact {
	display:block;
	overflow:auto;
}

.contact-form {
	width: 50%;
	padding: 25px;
	margin: 0 auto;
	background: rgba(210,210,155, .65);
}

.modal-footer {
	background-color: rgba(210,210,155, .65);
}

.contact-image {
	order: 2;
}

.contact-text {
	display: flex;
	flex-direction: column;
	order: 1;
}

.profile-picture {
	width: 100vw;
	display: inline-block;
	border: 30px solid rgba(255,250,240, 1);
}

.bio-2 {
  margin: 20px 0px 20px 0px;
  font-size: 30px;
  color: white;
}

/*==============================================================================contact==*/

.social-media {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: space-around;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	flex-direction: row;
}

.contact-logos{
	max-width: 100%;
	max-height: 100%;
}

.fb {
	width: 19vw;
}

.ig{
	width: 19vw;
}

.sc {
	width: 19vw;
}

.gh {
	width: 19vw;
}

.ln {
	width: 19vw;
}

/*==============================================================================social media==*/

@media only screen and (min-width: 765px) {
	.flex-child {
		width: 50%;
	}

	.top-pushdown {
		padding-top: 100px;
	}
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1025px) {
	.btn-home {
    	height: 80px;
    	width: 140px;
    	font-size: 50px;
	}
	.btn-contact {
		  width: 25vw;
	}
}

@media only screen and (min-width: 1200px) {

	.flex-child {
		width: 25%;
	}

	.picture-box {
		height: 100%;
	}

	.profile-picture {
		float: right;
	}

	.btn-big {
	    margin-top: 200px;
	    margin-bottom: 40px;
	    font-size: 80px;
	}

	.name {
		margin-top: 100px;
	}

	.profile-picture {
		width: auto;
		height: 100vh;

	}

	.contact-image {
		display: flex;
	}

	.bio-2 {
	    margin: 45vh 10px 0px 0px;
	    font-size: 30px;
	    color: white;
	    align-items: center;
	    display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	}

	.box-2 {
		font-size: 50px;
	}
}

@media only screen and (min-width: 1367px) {
	.top-pushdown {
		padding-top: 150px;
	}
}

@media only screen and (min-width: 1500px) {
	.btn-big {
		font-size: 100px;
	}
}
/*==============================================================================media queries==*/
