body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width:100%;
}

body,
html {
	background: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	background-image:  url("../img/surf.jpeg");
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.text-box {
	text-align: center;
	color: white;
	font-style: oblique;
}

.box {
	text-align: center;
	background-color: black;
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.fa {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*==============================================================================evrythang==*/

.awesome-text {
	-webkit-animation:text-colorchange 20s infinite alternate;
	-moz-animation:text-colorchange 20s infinite alternate;
}

.awesome-background {
	-webkit-animation:colorchange 20s infinite alternate;
	-moz-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes text-colorchange {
	0% {color: blue;}
	10% {color: #8e44ad;}
	20% {color: #1abc9c;}
	30% {color: #d35400;}
	40% {color: blue;}
	50% {color: #34495e;}
	60% {color: blue;}
	70% {color: #2980b9;}
	80% {color: #f1c40f;}
	90% {color: #2980b9;}
	100% {color: pink;}
}

@keyframes text-colorchange {
	0% {color: blue;}
	10% {color: #8e44ad;}
	20% {color: #1abc9c;}
	30% {color: #d35400;}
	40% {color: blue;}
	50% {color: #34495e;}
	60% {color: blue;}
	70% {color: #2980b9;}
	80% {color: #f1c40f;}
	90% {color: #2980b9;}
	100% {color: pink;}
}

@-webkit-keyframes colorchange {
	0% {background-color: blue;}
	10% {background-color: #8e44ad;}
	20% {background-color: #1abc9c;}
	30% {background-color: #d35400;}
	40% {background-color: blue;}
	50% {background-color: #34495e;}
	60% {background-color: blue;}
	70% {background-color: #2980b9;}
	80% {background-color: #f1c40f;}
	90% {background-color: #2980b9;}
	100% {background-color: pink;}
}

@keyframes colorchange {
	0% {background-color: blue;}
	10% {background-color: #8e44ad;}
	20% {background-color: #1abc9c;}
	30% {background-color: #d35400;}
	40% {background-color: blue;}
	50% {background-color: #34495e;}
	60% {background-color: blue;}
	70% {background-color: #2980b9;}
	80% {background-color: #f1c40f;}
	90% {background-color: #2980b9;}
	100% {background-color: pink;}
}

/*==============================================================================RGB==*/

.btn-black {
	background-color: black;
	margin-top: 50px;
	margin-bottom: 30px;
}

.btn-home {
	height: 80px;
	width: 145px;
	background-color: black;
	font-size: 50px;
	padding: 4px;
}

/*==============================================================================.btn's==*/

.hero {
	height: 85%;
}

.hero-title {
	margin-top: 0;
	padding-top: 10%;
	color: white;
}

.top-pushdown {
	padding-top: 50px;
}

.name {
	margin-bottom: 0px;
}

.underline {
	height: 10px;
	width: 300px;
	border: 1px solid black;
	margin:0 auto;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
	background-color: black;
	-webkit-animation:colorchange 20s infinite alternate;
}

.bio {
	font-size: 30px;
	padding-top: 50px;
}

/*==============================================================================hero section==*/

.futer {
	height: 25%;
}

.external-sites {
	overflow: auto;
}

.flex-parent {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-child {
	text-align: center;
	width: 100vw;
	padding: 2px;
	height: 14vh;
}
.child-1 {
	order: 1;
}

.child-2 {
	order: 2;
}

.child-3 {
	order: 3;
}

.child-4 {
	order: 4;
}

/*==============================================================================external sites==*/

.contact-form {
	width: 50%;
	padding: 25px;
	margin: 0 auto;
	background: rgba(210,210,155, .65);
}

.modal-footer {
	background-color: rgba(210,210,155, .65);
}

.contact-image {
	order: 2;
}

.contact-text {
	display: flex;
	flex-direction: column;
	order: 1;
}

.profile-picture {
	width: 100vw;
	display: inline-block;
	border: 30px solid rgba(255,250,240, 1);
}

/*==============================================================================contact page==*/

@media only screen and (min-width: 765px) {
	.flex-child {
		width: 50%;
	}

	.top-pushdown {
		padding-top: 100px;
	}
}

@media only screen and (min-width: 992px) {
	.top-pushdown {
		padding-top: 150px;
	}
	
	.profile-picture {
		width: auto;
		height: 100vh;
		margin: 5px 15% 0px 15%;
	}
}

@media only screen and (min-width: 1025px) {
	body {
		overflow: hidden;
	}
}

@media only screen and (min-width: 1200px) {
	.flex-child {
		width: 25%;
	}

	.picture-box {
		height: 100%;
	}

	.profile-picture {
		float: right;
	}

}

/*==============================================================================media queries==*/
